.two-column-grid {
    /* for smallest screens, no columns */
    padding: 30px;

    @mixin tabScreen {
        padding: 20px 20px;  
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;

        &__first-col {
            grid-column: 1;
            padding: 0 10px 0 0;
        }

        &__second-col {
            grid-column: 2;
            padding: 0 0 0 10px;
        }
    }
}

.logo-columns {
    display: grid;
    grid-template-columns: 51px auto;
    grid-auto-rows: auto;
    column-gap: 10px;
    row-gap: 20px;


    &__first-logo {
        grid-column: 1;
        grid-row: 1;
        width: 50px;
        height: auto;
    }
    &__second-logo {
        grid-column: 1;
        grid-row: 2;
        width: 50px;
        height: auto;
    }
    &__third-logo {
        grid-column: 1;
        grid-row: 3;
        width: 50px;
        height: auto;
    }


    &__first-desc {
        grid-column: 2;
        grid-row: 1;
        margin: 0;
    }
    &__second-desc {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }
    &__third-desc {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
    }
}