.main-screen {
    position: relative;
    box-sizing: border-box;
    display: block;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    &__categories {
        padding: 10px 20px;
    }

    &__category {
        font-weight: 300;
        margin: 0;
    }
    
    &__description {
        font-size: 1.1rem;    
        font-style: italic;
        margin: 0;
        padding: 10px;
    }

    &__web {
        padding-top: 16px;
    }

    &__gap {
        padding-top: 16px;
        background-color: rgb(179, 188, 207, .3);
    }

    &__periodbio {
        padding: 0 30px;
        font-weight: 700;
    }

}

