.main-screen {
    position: relative;
    box-sizing: border-box;
    display: block;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

    &__categories {
        padding: 10px 20px;
    }

    &__category {
        font-weight: 300;
        margin: 0;
    }
    
    &__description {
        font-size: 1.1rem;    
        font-style: italic;
        margin: 0;
        padding: 10px;
    }

}

