.primary-nav {
    display: none;

    @mixin tabScreen {
        display: inline;
    }

    &__pull-right {
        float: left;
    }

    ul {
        margin: 0;
        padding: 0;
        clear: both;
    }

    li {
        list-style: none;
        float: left;
        padding-right: 20px;
    }
}