.scarf-img {
    position:absolute;
    display: inline-block;
    width: 100%;

    &__top {
        top: 0;
        left: 0;
        opacity: 0.3;
    }

    &__edu {
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}