.titleblock {
   /* for tiny and cell screens */
   position: relative;
   text-align: center;
   padding-right: 20px;
    
   /* for tablet screens and bigger */
   @mixin tabScreen {    
        text-align: justify;
        direction: rtl;
        left: 0;
    }

    &__title {
        font-weight:bolder;
        margin: 0;
        padding-right: .8rem;
    }
    
    &__summary {
        font-weight: 300;
        font-style: italic;
        margin: 0;
        padding-right: .8rem;
    }    
}
